/* You can add global styles to this file, and also import other style files */
html {
    background-image: url("./assets/imagenes/Thewitcher3Imagen.png");
    background-size: 100% 100%;
  }
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
